{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="avatar-grid">
            <div class="current-avatar" style="background-color: lightgreen">
                <div id="head" class="head">
                    <div id="hair" class="hair"></div>
                    <div id="eyes" class="eyes"></div>
                    <div id="mouth" class="mouth"></div>
                    <div id="nose" class="nose"></div>
                    <div id="cloth" class="cloth"></div>
                </div>
            </div>
            <div class="avatar-color" style="background-color: pink">
                {#
                {% for skin in skins %}
                    <div id={{ skin.skin}} class="grid-color" style="border: 2px solid black"></div>
                {% endfor %}
                #}
                {% for color in colors %}
                    <div id="{{ color.color }}"  style="background-color: rgb(194,215,188);"></div>
                {% endfor %}
            </div>
            <div style="background-color: turquoise"><h1 style="text-align: center">Confirm</h1></div>
        </div>
        <div class="stuffs-grid">
            <div id="head-btn" style="background-color: lightblue;text-align: center"><h2>Head</h2></div>
            <div id="hair-btn" style="background-color: lightgreen; text-align: center"><h2>Hair</h2></div>
            <div id="eyes-btn" style="background-color: lightseagreen;text-align: center"><h2>Eyes</h2></div>
            <div id="mouth-btn" style="background-color: lightcyan;text-align: center"><h2>Mouth</h2></div>
            <div id="nose-btn" style="background-color: lightpink;text-align: center"><h2>Nose</h2></div>
            <div id="cloth-btn" style="background-color: lightsteelblue;text-align: center"><h2>Cloth</h2></div>
            <div style="background-color: lightyellow"></div>
            <div class="options" style="background-color: lightsteelblue">
                {% for head in heads %}
                    <img id="{{ head.name }}" class="head-options icons" src="{{ asset('media/avatar/head/'~head.name~'/tile000.png') }}">
                {% endfor %}
                {% for hair in hairs %}
                    <img id="{{ hair.name }}" style="display: none" class="hair-options icons" src="{{ asset('media/avatar/hair/'~hair.name~'/tile000.png') }}">
                {% endfor %}
                {% for eye in eyes %}
                    <img id="{{ eye.name }}" style="display: none" class="eyes-options icons" src="{{ asset('media/avatar/eyes/'~eye.name~'/tile000.png') }}">
                {% endfor %}
                {% for mouth in mouths %}
                    <img id="{{ mouth.name }}" style="display: none" class="mouth-options icons" src="{{ asset('media/avatar/mouth/'~mouth.name~'/tile000.png') }}">
                {% endfor %}
                {% for nose in noses %}
                    <img id="{{ nose.name }}" style="display: none" class="nose-options icons" src="{{ asset('media/avatar/nose/'~nose.name~'/tile000.png') }}">
                {% endfor %}
                {% for cloth in cloths %}
                    <img id="{{ cloth.name }}" style="display: none" class="nose-options icons" src="{{ asset('media/avatar/cloth/'~cloth.name~'/tile000.png') }}">
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        let num = 0
        let selection = 'head'
        let skinColor = ['rgb(248,197,171)','rgb(254,224,214)','rgb(217,154,125)','rgb(164,115,103)','rgb(248,197,171)','rgb(254,224,214)','rgb(217,154,125)','rgb(164,115,103)']
        let hairColors = ['rgb(129,105,82)','rgb(179,111,79)','rgb(254,241,198)','rgb(96,91,98)','rgb(194,215,188)','rgb(224,68,90)','rgb(248,247,233)','rgb(161,189,65)']
        let eyesColors = ['rgb(66,136,193)','rgb(39,75,114)','rgb(31,152,154)','rgb(255,139,9)','rgb(96,57,45)','rgb(255,9,69)','rgb(110,80,152)','rgb(67,64,63)']
        let icons = document.getElementsByClassName('icons')
        let head = 'head1'
        let mouth = 'mouth1'
        let nose = 'nose'
        let skin = 'tile000.png'
        let hair = 'hair1'
        let hairColor = 'tile000.png'
        let eyes = 'eyes1'
        let eyesColor = 'tile000.png'
        let cloth = 'cloth1'


        changeTo(selection)

        function changeTo(value){
            Array.from(icons).forEach(icon =>{
                icon.style.display = 'none'
            })
            num = 0
            if (value === 'head'){
                {% for color in colors %}
                    document.getElementById('{{ color.color }}').style.backgroundColor = skinColor[num]
                    num++
                {% endfor %}
                {% for head in heads %}
                document.getElementById('{{ head.name }}').style.display = 'inline-block'
                {% endfor %}
            }
            if (value === 'hair'){
                {% for color in colors %}
                document.getElementById('{{ color.color }}').style.backgroundColor = hairColors[num]
                num++
                {% endfor %}
                {% for hair in hairs %}
                document.getElementById('{{ hair.name }}').style.display = 'inline-block'
                {% endfor %}
            }
            if (value === 'eyes'){
                {% for color in colors %}
                document.getElementById('{{ color.color }}').style.backgroundColor = eyesColors[num]
                num++
                {% endfor %}
                {% for eye in eyes %}
                document.getElementById('{{ eye.name }}').style.display = 'inline-block'
                {% endfor %}
            }
            if (value === 'mouth'){
                {% for color in colors %}
                document.getElementById('{{ color.color }}').style.backgroundColor = skinColor[num]
                num++
                {% endfor %}
                {% for mouth in mouths %}
                document.getElementById('{{ mouth.name }}').style.display = 'inline-block'
                {% endfor %}
            }
            if (value === 'nose'){
                {% for color in colors %}
                document.getElementById('{{ color.color }}').style.backgroundColor = skinColor[num]
                num++
                {% endfor %}
                {% for nose in noses %}
                document.getElementById('{{ nose.name }}').style.display = 'inline-block'
                {% endfor %}
            }
            if (value === 'cloth'){
                {% for color in colors %}
                document.getElementById('{{ color.color }}').style.backgroundColor = hairColors[num]
                num++
                {% endfor %}
                {% for cloth in cloths %}
                document.getElementById('{{ cloth.name }}').style.display = 'inline-block'
                {% endfor %}
            }
        }

        {% for head in heads %}
        document.getElementById('{{ head.name }}').addEventListener('click',e=>{
            head = e.target.id
            changeHead(head, skin)
        })
        {% endfor %}

        {% for mouth in mouths %}
        document.getElementById('{{ mouth.name }}').addEventListener('click',e=>{
            mouth = e.target.id
            changeMouth(mouth, skin)
        })
        {% endfor %}

        {% for hair in hairs %}
        document.getElementById('{{ hair.name }}').addEventListener('click',e=>{
            hair = e.target.id
            changeHair(hair, hairColor)
        })
        {% endfor %}

        {% for eye in eyes %}
        document.getElementById('{{ eye.name }}').addEventListener('click',e=>{
            eyes = e.target.id
            changeEyes(eyes, eyesColor)
        })
        {% endfor %}

        {% for nose in noses %}
        document.getElementById('{{ nose.name }}').addEventListener('click',e=>{
            nose = e.target.id
            changeNose(nose, skin)
        })
        {% endfor %}
        {% for cloth in cloths %}
        document.getElementById('{{ cloth.name }}').addEventListener('click',e=>{
            cloth = e.target.id
            changeCloth(cloth, hairColor)
        })
        {% endfor %}

        {% for color in colors %}
            document.getElementById('{{ color.color }}').addEventListener('click',e=>{
                if (selection === 'head' || selection === 'mouth' || selection === 'nose'){
                    skin = e.target.id
                    if (skin === 'tile004.png'){
                        skin = 'tile000.png'
                    }
                    if (skin === 'tile005.png'){
                        skin = 'tile001.png'
                    }
                    if (skin === 'tile006.png'){
                        skin = 'tile002.png'
                    }
                    if (skin === 'tile007.png'){
                        skin = 'tile003.png'
                    }
                    changeSkin(head, mouth, nose, skin)
                }
                if (selection === 'hair'){
                    hairColor = e.target.id
                    changeHair(hair,hairColor)
                }
                if (selection === 'eyes'){
                    eyesColor = e.target.id
                    changeEyes(eyes,eyesColor)
                }
                if (selection === 'cloth'){
                    hairColor = e.target.id
                    changeCloth(cloth,hairColor)
                }
            })
        {% endfor %}
        {#
        {% for color in hairColors %}
        document.getElementById('{{ color.color }}').addEventListener('click', e=>{
            if (sect === 'head'){
                skinCol = e.target.id
                changeHead(head,skinCol)
            }
            else if(sect === 'hair'){
                hairColor = e.target.id
                changeHair(hair,hairColor)
            }
            else if(sect === 'eyes'){
                hairColor = e.target.id
                changeEyes(eyes,hairColor)
            }
            else if(sect === 'mouth'){
                skinColor = e.target.id
                changeEyes(mouth,skinColor)
            }

        })
        {% endfor %}
        {% for head in heads %}
            document.getElementById('{{ head.type }}').addEventListener('click', e=>{
            head = e.target.id
            changeHead(head,skinCol)
        })
        {% endfor %}

        {% for hair in hairs %}
        document.getElementById('{{ hair.type }}').addEventListener('click', e=>{
            hair = e.target.id
            changeHair(hair,hairColor)
        })
        {% endfor %}
        {% for eye in eyes %}
        document.getElementById('{{ eye.type }}').addEventListener('click', e=>{
            eyes = e.target.id
            changeEyes(eyes,hairColor)
        })
        {% endfor %}
        {% for mouth in mouths %}
        document.getElementById('{{ mouth.type }}').addEventListener('click', e=>{
            mouth = e.target.id
            changeMouth(mouth,skinCol)
        })
        {% endfor %}
        #}
    </script>
    <script src="{{ asset('media/avatar.js') }}"></script>
{% endblock %}