{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% set HeadType = 'head1' %}
    {% set SkinColor = 'tile000' %}
    <div class="container">
        <div class="avatar-grid">
            <div class="current-avatar" style="background-color: lightgreen">
                <div id="head" class="head">
                    <div class="hair">rere</div>
                </div>
            </div>
            <div class="avatar-color" style="background-color: pink">
                {% for skin in skins %}
                    <div id={{ skin.skin}} class="grid-color" style="border: 2px solid black"></div>
                {% endfor %}
                {# <div id="color2" class="grid-color" style="background-color: lightsalmon"></div>
                <div id="color3" class="grid-color" style="background-color: black"></div>
                <div id="color4" class="grid-color" style="background-color: blue"></div> #}
                <div style="background-color: red"></div>
                <div style="background-color: gray"></div>
                <div style="background-color: lightgreen"></div>
                <div style="background-color: yellow"></div>
            </div>
            <div style="background-color: turquoise"><h1 style="text-align: center">Confirm</h1></div>
        </div>
        <div class="stuffs-grid">
            <div id="head-btn" style="background-color: lightblue;text-align: center"><h2>Head</h2></div>
            <div id="hair-btn" style="background-color: lightgreen; text-align: center"><h2>Hair</h2></div>
            <div style="background-color: lightseagreen"></div>
            <div style="background-color: lightcyan"></div>
            <div style="background-color: lightpink"></div>
            <div style="background-color: lightskyblue"></div>
            <div style="background-color: lightyellow"></div>
            <div class="options" style="background-color: lightsteelblue">
                {% for head in heads %}
                    <img id="{{ head.type }}" class="head-options" src="{{ asset('media/avatar/head/'~head.type~'/tile000.png') }}">
                {% endfor %}
                {% for hair in hairs %}
                    <img id="{{ hair.type }}" style="display: none;" class="hair-options" src="{{ asset('media/avatar/hair/'~hair.type~'/tile000.png') }}">
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        let num = 0
        let skinColor = ['rgb(248,197,171)','rgb(254,224,214)','rgb(217,154,125)','rgb(164,115,103)']
        let headArray = ['head1','head2','head3','head4']
        let colors = document.getElementsByClassName('grid-color')
        let heads = document.getElementsByClassName('head-options')
        let head = 'head1'
        let hair = 'hair0'
        let hairColor = 'tile000'
        let skin = 'tile000'
        {% for skin in skins %}
        document.getElementById('{{ skin.skin }}').addEventListener('click', e=>{
            skin = e.target.id

        })
        {% endfor %}
        {% for head in heads %}
            document.getElementById('{{ head.type }}').addEventListener('click', e=>{
            head = e.target.id

        })
        {% endfor %}

        {% for hair in hairs %}
        document.getElementById('{{ hair.type }}').addEventListener('click', e=>{
            hair = e.target.id
            alert(hair)
        })
        {% endfor %}
    </script>
    <script src="{{ asset('media/avatar.js') }}"></script>
{% endblock %}