{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% set break = false %}
    {% set friend = '' %}
    <div class="container">
        {#
        <div class="profil-grid">
            <div class="username-zone">
                <p class="username-text">{{ user.username }}</p>
            </div>
            <div class="about-zone">
                <p id="userDesc" class="about-text">{{ user.description }}</p>
                <button id="desc_btn" class="idiot-button">Edit</button>
                <div id="form" class="form-div">
                    <form method="get" action="{{ path('app_desc') }}" name="desc">
                        <textarea name="content" class="form-text-area" type="text-area">{{ user.description }}</textarea>
                        <input type="submit">
                    </form>
                    <button id="cancel">Cancel</button>
                </div>
            </div>
            <div class="avatar-zone">
                <div class="avatar-frame">
                    {% if user.avatar is not null %}
                        <img class="avatar" src="{{ asset('media/avatar/head/'~user.avatar.head.name~'/'~user.avatar.skin.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/hair/'~user.avatar.hair.name~'/'~user.avatar.haircolor.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/eyes/'~user.avatar.eyes.name~'/'~user.avatar.eyecolor.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/mouth/'~user.avatar.mouth.name~'/'~user.avatar.skin.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/nose/'~user.avatar.nose.name~'/'~user.avatar.skin.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/cloth/'~user.avatar.cloth.name~'/'~user.avatar.clothstyle.color) }}">
                        <button id="avatar_btn">Edit</button>
                    {% else %}
                        <button id="avatar_btn">Edit</button>
                    {% endif %}
                </div>
                {% if app.user != user %}
                    {% set friend %}
                        <a class="add-friend-button" href="{{ path('app_add-friend', {'id': user.id}) }}">Add Friend</a>
                    {% endset %}
                    {% for people in user.friends %}
                        {% if people.friend == app.user %}
                            {% set friend %}
                                <p>You are already friend</p>
                            {% endset %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <a class="add-friend-button">{{ friend }}</a>

                <p id="friend-list-btn">Friend List</p>
            </div>
            <div class="games-zone">
                {% for game in user.game %}
                    {% set review = 'none' %}
                <div class="game-table">
                    <div class="cover-image-zone">
                        <img class="image-cover" src="{{ game.Cover }}">
                    </div>
                    <div class="title-zone">
                        <p>{{ game.name }}</p>
                        <button>Favorite</button>
                    </div>
                    <div class="score-zone">
                        {% for rev in user.reviews %}
                            {% if rev.game.id == game.id %}
                                {% set review = rev.score %}
                            {% endif %}
                        {% endfor %}
                        {% if review == 'none' %}
                            <p>{{ review }}</p>
                        {% else %}
                            <p>{{ review }} / 10</p>
                        {% endif %}
                    </div>
                    <div class="review-button-zone">
                        {% for rev in user.reviews %}
                            {% if rev.game.id == game.id %}
                                {% set review = rev.id %}
                            {% endif %}
                        {% endfor %}
                        {% if review == 'none' %}
                            {% if user.id == app.user.id %}
                                <a href="{{ path('app_review',{'id' : game.id}) }}">Add Review</a>
                            {% else %}
                                <p>No Review</p>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app-review-page',{'id' : review}) }}">Show Review</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="friend-list">
            <div class="close-div">
                <img id="close" width="50px" src="{{ asset('media/X.png') }}">
            </div>
            {% for friend in user.friends %}
            <div class="friend-list-table">
                <div class="friend-avatar-zone">
                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/head/'~friend.friend.avatar.head.name~'/'~friend.friend.avatar.skin.color) }}">
                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/hair/'~friend.friend.avatar.hair.name~'/'~friend.friend.avatar.haircolor.color) }}">
                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/eyes/'~friend.friend.avatar.eyes.name~'/'~friend.friend.avatar.eyecolor.color) }}">
                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/mouth/'~friend.friend.avatar.mouth.name~'/'~friend.friend.avatar.skin.color) }}">
                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/nose/'~friend.friend.avatar.nose.name~'/'~friend.friend.avatar.skin.color) }}">
                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/cloth/'~friend.friend.avatar.cloth.name~'/'~friend.friend.avatar.clothstyle.color) }}">
                </div>
                <a href="{{ path('app_profil',{'id' : friend.friend.id}) }}">{{ friend.friend.username }}</a>
            </div>
                {% endfor %}
        </div>
        #}
        <div class="grid-flex">

            <div class="profil-grid">
                <div class="friend-zone">
                    <div class="friend-table">
                        {% for friend in user.friends %}
                            <div class="friend-frame">
                                {% if friend.friend.avatar != null %}
                                    <div class="friend-avatar-frame">
                                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/head/'~friend.friend.avatar.head.name~'/'~friend.friend.avatar.skin.color) }}">
                                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/hair/'~friend.friend.avatar.hair.name~'/'~friend.friend.avatar.haircolor.color) }}">
                                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/eyes/'~friend.friend.avatar.eyes.name~'/'~friend.friend.avatar.eyecolor.color) }}">
                                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/mouth/'~friend.friend.avatar.mouth.name~'/'~friend.friend.avatar.skin.color) }}">
                                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/nose/'~friend.friend.avatar.nose.name~'/'~friend.friend.avatar.skin.color) }}">
                                        <img class="friend-avatar-icon" src="{{ asset('media/avatar/cloth/'~friend.friend.avatar.cloth.name~'/'~friend.friend.avatar.clothstyle.color) }}">
                                    </div>
                                    {% else %}
                                        <div class="friend-avatar-frame">
                                            <img class="friend-avatar-icon" src="{{ asset('media/unknown.png') }}">
                                        </div>
                                {% endif %}
                                <div class="friend-info-frame">
                                    <p>{{ friend.friend.username }}</p>
                                    <p>Games : {{ friend.friend.game|length }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="profil-username">
                    <p class="profil-username-text">{{ user.username }}</p>
                </div>
                <div class="profil-avatar">
                    <div class="profil-avatar-frame">
                        {% if user.avatar is not null %}
                            <img class="avatar" style="border-radius: 15px" src="{{ asset('media/avatar/head/'~user.avatar.head.name~'/'~user.avatar.skin.color) }}">
                            <img class="avatar" src="{{ asset('media/avatar/hair/'~user.avatar.hair.name~'/'~user.avatar.haircolor.color) }}">
                            <img class="avatar" src="{{ asset('media/avatar/eyes/'~user.avatar.eyes.name~'/'~user.avatar.eyecolor.color) }}">
                            <img class="avatar" src="{{ asset('media/avatar/mouth/'~user.avatar.mouth.name~'/'~user.avatar.skin.color) }}">
                            <img class="avatar" src="{{ asset('media/avatar/nose/'~user.avatar.nose.name~'/'~user.avatar.skin.color) }}">
                            <img class="avatar" style="border-radius: 15px" src="{{ asset('media/avatar/cloth/'~user.avatar.cloth.name~'/'~user.avatar.clothstyle.color) }}">
                        {% else %}
                            <img class="avatar" style="border-radius: 15px" src="{{ asset('media/avatar/head/head1/tile000.png') }}">
                            <img class="avatar" src="{{ asset('media/avatar/hair/hair1/tile000.png') }}">
                            <img class="avatar" src="{{ asset('media/avatar/eyes/eyes1/tile000.png') }}">
                            <img class="avatar" src="{{ asset('media/avatar/mouth/mouth1/tile000.png') }}">
                            <img class="avatar" src="{{ asset('media/avatar/nose/nose1/tile000.png') }}">
                            <img class="avatar" style="border-radius: 15px" src="{{ asset('media/avatar/cloth/cloth1/tile000.png') }}">
                        {% endif %}
                        <div class="avatar-edit-div">
                            <button id="avatar_btn">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="profil-buttons">
                    {% if app.user != user %}
                        {% set friend %}
                            <button class="btn-box">Already Friend</button>
                        {% endset %}
                        {% for friend in user.friends %}
                            {% if friend.friend == app.user %}
                                {% set friend %}
                                    <button class="btn-box">Already Friend</button>
                                {% endset %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {{ friend }}
                    <button class="btn-box">Friend List</button>
                    <button class="btn-box">Show Favorites</button>
                    {% if app.user != user %}
                        <button class="btn-box">Report</button>
                        <button class="btn-box">Block User</button>
                    {% endif %}
                </div>
                <div class="profil-bio">
                    <div class="profil-bio-zone">
                        <p id="profil-bio-text">{{ user.description }}</p>
                        <div id="profil-bio-form">
                            <form method="get" action="{{ path('app_desc') }}" name="desc">
                                <textarea name="content" class="form-text-area" type="text-area">{{ user.description }}</textarea>
                                <input class="btn-box" type="submit">
                            </form>
                        </div>
                    </div>
                    <br>
                    {% if app.user == user %}
                    <button id="edit-desc" class="btn-box">Edit Description</button>
                    <button id="cancel-desc" class="btn-box">Cancel</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="profil-game-zone">
            {% for game in user.game %}
                {% set review = 'none' %}
                {% include 'profil/game_table.html.twig' %}
            {% endfor %}
        </div>

    </div>
    <script src="{{ asset('media/js/profil.js') }}"></script>
{% endblock %}