{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% set break = false %}
    <div class="container">
        <div class="profil-grid">
            <div class="username-zone">
                <p class="username-text">{{ user.username }}</p>
            </div>
            <div class="about-zone">
                <p id="userDesc" class="about-text">{{ user.description }}</p>
                <button id="desc_btn" class="idiot-button">Edit</button>
                <div id="form" class="form-div">
                    <form method="get" action="{{ path('app_desc') }}" name="desc">
                        <textarea name="content" class="form-text-area" type="text-area">{{ user.description }}</textarea>
                        <input type="submit">
                    </form>
                    <button id="cancel">Cancel</button>
                </div>
            </div>
            <div class="avatar-zone">
                <div class="avatar-frame">
                    {% if user.avatar is not null %}
                        <img class="avatar" src="{{ asset('media/avatar/head/'~user.avatar.head.name~'/'~user.avatar.skin.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/hair/'~user.avatar.hair.name~'/'~user.avatar.haircolor.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/eyes/'~user.avatar.eyes.name~'/'~user.avatar.eyecolor.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/mouth/'~user.avatar.mouth.name~'/'~user.avatar.skin.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/nose/'~user.avatar.nose.name~'/'~user.avatar.skin.color) }}">
                        <img class="avatar" src="{{ asset('media/avatar/cloth/'~user.avatar.cloth.name~'/'~user.avatar.clothstyle.color) }}">
                        <button id="avatar_btn">Edit</button>
                    {% else %}
                        <button id="avatar_btn">Edit</button>
                    {% endif %}
                </div>
            </div>
            <div class="games-zone">
                {% for game in user.game %}
                    {% set review = 'none' %}
                <div class="game-table">
                    <div class="cover-image-zone">
                        <img class="image-cover" src="{{ game.Cover }}">
                    </div>
                    <div class="title-zone">
                        <p>{{ game.name }}</p>
                        <button>Favorite</button>
                    </div>
                    {# <a href="{{ path('app_review',{'id' : game.id}) }}">Add Review</a> #}
                    <div class="score-zone">
                        {% for rev in user.reviews %}
                            {% if rev.game.id == game.id %}
                                {% set review = rev.score %}
                            {% endif %}
                        {% endfor %}
                        {% if review == 'none' %}
                            <p>{{ review }}</p>
                        {% else %}
                            <p>{{ review }} / 10</p>
                        {% endif %}
                    </div>
                    <div class="review-button-zone">
                        {% for rev in user.reviews %}
                            {% if rev.game.id == game.id %}
                                {% set review = rev.content %}
                            {% endif %}
                        {% endfor %}
                        {% if review == 'none' %}
                            {% if user.id == app.user.id %}
                                <a href="{{ path('app_review',{'id' : game.id}) }}">Add Review</a>
                            {% else %}
                                <p>No Review</p>
                            {% endif %}
                        {% else %}
                            <p>{{ review }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        document.getElementById('avatar_btn').onclick = avatar;
        document.getElementById('cancel').onclick = cancel;
        document.getElementById('desc_btn').onclick = descForm;
        function descForm(){
            document.getElementById('desc_btn').style.display = "none"
            document.getElementById('userDesc').style.display = "none"
            document.getElementById('form').style.display = "block"
        }
        function cancel(){
            document.getElementById('desc_btn').style.display = "block"
            document.getElementById('userDesc').style.display = "block"
            document.getElementById('form').style.display = "none"
        }
        function avatar(){
            window.location = '{{ path('app_avatar') }}';
        }
    </script>
{% endblock %}