{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% set avaibleCategories = [] %}

    {% for category in categories %}
        {% if category not in game.categories %}
            {% set avaibleCategories = avaibleCategories|merge([category]) %}
        {% endif %}
    {% endfor %}

    {% set otherDeveloper = [] %}

    {% for developer in developers %}
        {% if developer not in game.developpers %}
            {% set otherDeveloper = otherDeveloper|merge([developer]) %}
        {% endif %}
    {% endfor %}

    {% set avaibleUsers = [] %}

    {% for user in users %}
        {% if user not in game.users %}
            {% set avaibleUsers = avaibleUsers|merge([user]) %}
        {% endif %}
    {% endfor %}

    <div class="container">

        <div class="admin-table">

            <div class="admin-form-box">
                <form class="admin-game-page-form" action="{{ path('admin_change_game_title',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="title">Title</label>
                    <input id="title" class="admin-form-label" name="title" type="text" value="{{ game.name }}">
                    <input class="admin-form-label" type="submit" value="Save">
                </form>
            </div>

            <div class="admin-form-box">
                <form class="admin-game-page-form"
                      action="{{ path('admin_change_game_description',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="description">Description</label>
                    <textarea id="description" name="description"
                              class="admin-form-textarea">{{ game.description }}</textarea>
                    <input class="admin-form-label" type="submit" value="Save">
                </form>
            </div>


            <div class="admin-form-box">
                <form class="admin-game-page-form" action="{{ path('admin_change_game_cover',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="cover">Cover</label>
                    <img width="50%" src="{{ game.cover }}">
                    <input id="cover" class="admin-form-label" name="cover" type="text" value="{{ game.cover }}">
                    <input class="admin-form-label" type="submit" value="Save">
                </form>
            </div>


            <div class="admin-form-box">
                <form class="admin-game-page-form" action="{{ path('admin_change_game_price',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="price">Price</label>
                    <input id="price" class="admin-form-label" name="price" type="number" min="0" step="0.01"
                           value="{{ game.price }}">
                    <input class="admin-form-label" type="submit" value="Save">
                </form>
            </div>


            <div class="admin-form-box">
                <form class="admin-game-page-form" action="{{ path('admin_add_game_image',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="image">Images</label>
                    <div class="admin-game-image-zone" style="display: flex; justify-content: flex-start">
                        {% for image in game.images %}
                            <div class="admin-game-image-box">
                                <img id="{{ image.id }}" class="admin-game-images" src="{{ image.source }}">
                                <div class="admin-delete-image-box">
                                    <a href="{{ path('admin_delete_game_image',{'id' : image.id}) }}"
                                       class="admin-delete-image-button">delete</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <input id="image" class="admin-form-label" name="image" placeholder="add new image">
                    <input class="admin-form-label" type="submit" value="Add">
                </form>
            </div>


            <div class="admin-form-box">
                <form class="admin-game-page-form" action="{{ path('admin_add_game_category',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="category">Categories</label>
                    <div class="admin-category-zone">
                        {% for category in game.categories %}
                            <div class="admin-category-box">
                                <p style="margin-right: 15px;">{{ category.name }}</p>
                                <a href="{{ path('admin_delete_game_category',{'id' : category.id, 'gameId' : game.id}) }}">X</a>
                            </div>
                        {% endfor %}
                    </div>
                    <select id="category" name="category" class="admin-category-select">
                        {% for category in avaibleCategories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="admin-form-label" type="submit" value="Add">
                </form>
            </div>


            <div class="admin-form-box">
                <form class="admin-game-page-form" action="{{ path('admin_change_game_date',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="date">Date</label>
                    <input id="date" type="text" class="admin-form-label" name="date" value="{{ game.date }}">
                    <input class="admin-form-label" type="submit" value="Change">
                </form>
            </div>


            <div class="admin-form-box">
                <form class="admin-game-page-form">
                    <label class="admin-form-label" for="developer">Developer</label>
                    <select id="developer" class="admin-category-select" name="developer">
                        {% for developer in game.developpers %}
                            <option value="{{ developer.id }}">{{ developer.name }}</option>
                        {% endfor %}
                        {% for developer in otherDeveloper %}
                            <option value="{{ developer.id }}">{{ developer.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="admin-form-label" type="submit" value="Change">
                </form>
            </div>


            <div class="admin-form-box">
                <p style="text-align: center; font-size: 24px">Codes</p>
                <div class="admin-code-zone">
                    {% for code in game.codePromos %}
                    <form action="{{ path('admin_change_game_code',{'id' : code.id, 'gameId' : game.id}) }}">
                        <input class="admin-code-form" name="code" type="text" value="{{ code.code }}">
                        <input class="admin-code-form" name="discount" type="number" min="0" max="100"
                               value="{{ code.discount }}">
                        <input class="admin-code-form" type="submit" value="Change">
                        <a href="{{ path('admin_delete_game_code',{'id' : code.id,'gameId' : game.id}) }}">Delete For This Game</a>
                        <a href="{{ path('admin_delete_code',{'id' : code.id,'gameId' : game.id}) }}">Delete Code</a>
                    </form>
                    {% endfor %}
                    <form action="{{ path('admin_add_game_code',{'id' : game.id}) }}">
                        <input class="admin-code-form" type="text" placeholder="Code" name="code">
                        <input class="admin-code-form" type="number" min="0" max="100" placeholder="Discount" name="discount">
                        <input class="admin-code-form" type="submit" value="Add">
                    </form>
                </div>
            </div>


            <div class="admin-form-box">
                <form class="admin-game-page-form" action="{{ path('admin_change_game_sale',{'id' : game.id}) }}">
                    <label class="admin-form-label" for="sale">Sale</label>
                    <input id="sale" name="sale" type="number" max="100" min="0" class="admin-form-label" value="{{ game.discount }}">
                    <input class="admin-form-label" type="submit" value="Change">
                </form>
            </div>


        </div>
    </div>

{% endblock %}