{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="register-title">Register</h1>
    <div class="register-page-form">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        <div class="register-term-zone">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="register-btn">Register</button>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
