<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
{#
<nav>
    <div id="menu-burger" class="side-nav">
        <div class="menu-burger">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </div>
        <div class="side-button nav-button"><p class="sidenav-text"><a href="#">Games</a></p></div>
        <div class="side-button nav-button"><p class="sidenav-text"><a href="#">Community</a></p></div>
        <div class="side-button nav-button"><p class="sidenav-text"><a href="#">Login</a></p></div>
        <div class="side-button nav-button"><p class="sidenav-text"><a href="#">Cart</a></p></div>
    </div>
    <div class="nav-zone">
        <div class="nav-button"><p class="nav-text"><a href="{{ path('app_game_list') }}">Games</a></p></div>
        <div class="nav-button"><p class="nav-text"><a href="#">Community</a></p></div>
    </div>
    <div class="nav-zone-1">
        <img class="logo" src="{{ asset('media/logo2.png') }}">
        <p class="nav-logo"><b>Sheker Cat</b></p>
    </div>
    <div class="nav-zone-2">
        {% if app.user is not null %}
            <h1><a href="{{ path('app_profil',{'username' : app.user.username}) }}">Profil</a></h1>
        {% else %}
            <div class="nav-button"><p class="nav-text"><a href="{{ path('app_login') }}">Login</a></p></div>
        {% endif %}
        <div class="nav-button"><p class="nav-text"><a href="{{ path('app_cart') }}">Cart</a></p></div>
    </div>
</nav>
#}

{#<nav>#}
{#    <div class="nav-zone-1">#}
{#        <div class="nav-test">#}
{#            <div class="menu-burger"></div>#}
{#            <a class="nav-element" href="{{ path('app_show_games') }}">Store</a>#}
{#            <a class="nav-element">Community</a>#}
{#            <a class="nav-element">About</a>#}
{#            <a class="nav-element">Support</a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="nav-logo-zone">#}

{#        <img width="80%" src="{{ asset('media/LogoTypoShekerCat.svg') }}">#}
{#    </div>#}
{#    <div class="nav-zone-2">#}
{#        <div class="nav-test">#}
{#            <a class="nav-element" href="{{ path('app_login') }}">Login</a>#}
{#            <a class="nav-element" href="{{ path('app_cart') }}">Cart</a>#}
{#            {% if app.user.username is defined %}#}
{#                <a class="nav-element" href="{{ path('app_profil',{'username' : app.user.username}) }}">Profil</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

<nav>
    <div class="top-bar">
        <div class="left">
            <div class="menu-burger"></div>
            <a class="nav-element" href="{{ path('app_show_games') }}">Store</a>
            <a class="nav-element">Community</a>
            <a class="nav-element">About</a>
            <a class="nav-element">Support</a>
        </div>
        <div class="center">

            <a class="homeButton" href="{{ path('app_home') }}">
                <img id="logo-sheker" src="{{ asset('media/logofinal.svg') }}" alt="Sheker 1">
            </a>
        </div>
        <div class="right">
            {% if app.user.username is not defined %}
                <a class="nav-element" href="{{ path('app_login') }}">Login</a>
                {% else %}
                <a class="nav-element" href="{{ path('app_logout') }}">Log Out</a>
            {% endif %}
            <a class="nav-element" href="{{ path('app_cart') }}">Cart</a>
            {% if app.user.username is defined %}
                {% if app.user.notifications is empty %}
                    <img id="notification" src="{{ asset('media/no-notification.png') }}" width="8%">
                {% else %}
                    <img id="notification" src="{{ asset('media/notification.png') }}" width="8%">
                {% endif %}
                <a class="nav-element" href="{{ path('app_profil',{'id' : app.user.id}) }}">Profil</a>
            {% endif %}
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
<script>
    let burgerNav = false
/*
    document.getElementById("menu-burger").onclick = openNav

    function openNav(){
        if (burgerNav === false){
            document.getElementById("menu-burger").style.height = '450px'
            Array.from(document.getElementsByClassName('side-button')).forEach(btn =>{
                btn.style.display = 'flex'
            })
            burgerNav = true
        }
        else if (burgerNav === true){
            document.getElementById("menu-burger").style.height = '75px'
            burgerNav = false
            setTimeout(hide,500)
        }
        }
    function hide(){
        Array.from(document.getElementsByClassName('side-button')).forEach(btn =>{
            btn.style.display = 'none'
        })
    }

 */
    document.getElementById('notification').onclick = gotoNotif

    function gotoNotif(){
        window.location.href = '{{ path('app_notification') }}'
    }
</script>
</body>
</html>
