<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<nav>

    <div class="nav-left-side">
        <div id="menu-burger"></div>
        <a class="nav-element nav-size" href="{{ path('app_show_games') }}">Store</a>
        <a class="nav-element" href="{{ path('app_community') }}">Community</a>
        <a class="nav-element">About</a>
        <a class="nav-element">Support</a>
    </div>
    <div class="nav-mid-side">
        <img id="logo" width="100%" src="{{ asset('media/logofinal.svg') }}">
    </div>
    <div class="nav-right-side">
        {% if app.user is null  %}
            <a class="nav-element" href="{{ path('app_login') }}">Login</a>
            {% else %}
            <a class="nav-element" href="{{ path('app_logout') }}">Log Out</a>
        {% endif %}
        <a class="nav-element" href="{{ path('app_cart') }}">Cart</a>
        {% if app.user is not null %}
            {% if app.user.notifications is empty %}
                <img id="notification" width="40px" src="{{ asset('media/no-notification.png') }}">
            {% else %}
                <img id="notification" src="{{ asset('media/notification.png') }}">
            {% endif %}
            <a class="nav-element" href="{{ path('app_profil',{'id' : app.user.id}) }}">Profil</a>
        {% endif %}
    </div>
</nav>
<div id="slider-menu">
    <a class="slide-element nav-size" href="{{ path('app_show_games') }}">Store</a>
    <a class="slide-element">Community</a>
    <a class="slide-element">About</a>
    <a class="slide-element">Support</a>
    {% if app.user.username is not defined %}
        <a class="slide-element" href="{{ path('app_login') }}">Login</a>
    {% else %}
        <a class="slide-element" href="{{ path('app_logout') }}">Log Out</a>
        <a class="slide-element" href="{{ path('app_profil',{'id' : app.user.id}) }}">Profil</a>
    {% endif %}
</div>

{% block body %}
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
<script>
    let burgerNav = false
    let slideButtons = document.getElementsByClassName('slide-element')

    document.getElementById("menu-burger").onclick = openNav
    document.getElementById("logo").onclick = gotoHome
    document.getElementById("notification").onclick = notif


    function openNav(){
        if (burgerNav === false){
            document.getElementById("slider-menu").style.height = '250px'
            Array.from(slideButtons).forEach(btn => btn.style.fontSize = '16px')
            burgerNav = true
        }
        else if (burgerNav === true){
            document.getElementById("slider-menu").style.height = '0px'
            Array.from(slideButtons).forEach(btn => btn.style.fontSize = '0px')
            burgerNav = false
            // setTimeout(hide,500)
        }
        }
    function gotoHome(){
        window.location.href = '{{ path('app_home') }}'
    }

    function notif(){
        window.location.href = '{{ path('app_notification') }}'
    }


</script>
<footer>
    <div >
        <p>dqs</p>
        <p>dqs</p>
        <p>dqs</p>
    </div>
</footer>
</body>
</html>
