<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
<nav>
    <div class="nav-item nav-game">
        <a href="{{ path('app_game_list') }}">Games</a>
    </div>
    <div class="nav-item nav-logo">
        <img id="logo" height="75%" src="{{ asset('media/logo.png') }}">
    </div>
    <div class="nav-item nav-login">
        <a href="{{ path('app_login') }}">Login</a>
    </div>
    <div class="nav-item nav-search">
        <div>
            <label>Search : </label>
            <input type="text">
        </div>
    </div>

</nav>
{% block body %}
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
<script>
    document.getElementById('logo').addEventListener('click', e=>{
        location.href = '{{ path('app_home') }}'
    })
</script>
</body>
</html>
