{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="register-title">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    </div>
    <div class="login-page-form">
        <div class="login-email-zone">
            <label for="inputEmail">Email</label>
            <input  type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control login-email-input" autocomplete="email" required autofocus>
        </div>
        <div class="login-password-zone">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control login-password-input" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="login-loginbtn-zone">
            <button class="login-signin-button" type="submit">Sign in</button>
        </div>

        <a class="login-register-btn" href="{{ path('app_register') }}">Create Account</a>
    </div>
</form>
{% endblock %}
