{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% set total = 0 %}
    <div class="container">
        <a class="clear-cart" href="{{ path('app_clear_cart') }}">Clear Cart</a>
        <div class="cart-table">
            {% for index, product in app.session.get('Cart') %}
            <div class="cart-product">
                <div class="cart-title">
                    <h2>{{ product.game.name }}</h2>
                </div>
                <div class="cart-gift">
                    <div class="cart-friend" id="friendlist{{ index }}">
                        {% for friend in app.session.get('Cart')[index]['friendlist'] %}
                            <a href="{{ path('app_change_gift',{'id' : friend['id'], 'index' : index}) }}">{{ friend['username'] }}</a>
                        {% endfor %}
                        <button id="cancel{{ index }}">Cancel</button>
                    </div>
                    <div class="gift-checkbox">
                        <label id="{{ index }}gifted">Gift : {% if app.session.get('Cart')[index]['gift'] == true %}Yes{% else %}No{% endif %}</label>
                        <input class="giftbox" id="{{ index }}" name="{{ index }}" type="checkbox" value="false"
                                {% if app.session.get('Cart')[index]['gift'] == true %} checked {% endif %}
                                {% if app.session.get('Cart')[index]['friend'] is empty %} disabled {% endif %}
                        >
                    </div>
                    <div class="gift-sendto" id="gift{{ index }}">
                        {% if product['friend']['username'] is defined  %}
                            <p>Send to : {{ product['friend']['username'] }}</p>
                        {% endif %}
                        <button id="changeGift{{ index }}">Change</button>
                    </div>
                </div>
                <div class="cart-price">
                    <h3 style="margin: 0">Price</h3>
                    {% set total = total + product['price'] %}
                    <div style="margin: 0">
                        {% if product.game.price != product['price'] %}
                            <h4 style="text-decoration: line-through; display: inline-block">{{ product.game.price }}€</h4>
                            <h4 style="display: inline-block">{{ product['price'] }}€</h4>

                        {% else %}
                            <h4 style="display: inline-block">{{ product['price'] }}€</h4>
                        {% endif %}
                    </div>
                    <a class="cart-remove-btn" href="{{ path('app_remove_cart',{index : index}) }}">remove</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="checkout-section">
            <div class="total-zone">
                {% for product in app.session.get('Cart') %}
                <p style="font-size: 14px">{{ product.game.name }}{{ product['price'] }}€</p>
                {% endfor %}
                <p>Total : {{ total }}€</p>
                <form action="{{ path('checkout') }}" method="POST">
                    <button type="submit" class="buy-btn">Buy</button>
                </form>
            </div>
            <div class="code-promo">
                <form action="{{ path('app_discount') }}" method="get">
                    <input class="code-input" name="code" type="text">
                    <input class="code-submit" type="submit">
                </form>
            </div>
        </div>
    </div>
    <script src="{{ asset('media/js/cart.js') }}"></script>
{% endblock %}
