{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ dump(app.session.get('Cart')) }}
    {% set total = 0 %}
    <div class="container">
        <a class="clear-cart" href="{{ path('app_clear_cart') }}">Clear Cart</a>
        <div class="cart">
            <table class="cart-table">
                <thead>
                    <th class="cart-table-line">Product</th>
                    <th class="cart-table-line">Gift</th>
                    <th class="cart-table-line">Price</th>
                    <th class="cart-table-line"></th>
                </thead>
                {% for index, item in app.session.get('Cart') %}
                    {% set total = total + item.game.price %}
                    <tbody class="cartItem" id="{{ index }}">
                    <td class="text-center">{{ item.game.name }}</td>
                    <td class="text-center" style="width: 30%;">
                        <label id="{{ index }}gifted">{% if app.session.get('Cart')[index]['gift'] == true %}Yes{% else %}No{% endif %}</label>
                        <input class="giftbox" id="game{{ index }}" name="{{ index }}" type="checkbox" value="false" {% if app.session.get('Cart')[index]['gift'] == true %} checked {% endif %}>
                        {#
                        <select  class="gift-option" name="target" id="gift{{ index }}" style="display: none">
                            {% for index, friend in app.session.get('Cart')[index]['friendlist'] %}
                                    <option value="{{ friend['id'] }}">{{ friend['username'] }}</option>
                            {% endfor %}
                        </select>
                        #}
                        {% if app.session.get('Cart')[index]['gift'] == true %}
                        <div id="giftTarget{{ index }}" class="gift-target">
                            <p>Send to : {{ item['friend']['username'] }}</p>
                            <button id="sendTo{{ index }}">Change</button>
                            <div id="target-users{{ index }}" class="target-users">
                                {% for friend in app.session.get('Cart')[index]['friendlist'] %}
                                    <a style="margin-right: 10px" href="{{ path('app_change_gift',{'id' : friend['id'], 'index' : index}) }}">{{ friend['username'] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <p>{{ item.game.price }} €</p>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_remove_cart',{index : index}) }}" style="color:black;">remove</a>
                    </td>
                    </tbody>
                {% endfor %}
            </table>
            <div class="cart-stuffs cart-frame">
                <div class="cart-stuffs">
                    <h3 class="price-text">Total : {{ total }} €</h3>
                    <button onclick="buygame()" type="submit" class="buy-button" style="margin-left: 25px;">Buy</button>
                </div>
                <div class="cart-stuffs">
                    <input class="code-promo" type="text">
                    <input type="submit" value="Apply">
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('media/js/cart.js') }}"></script>
    <script>
        /*
        alerttest()
        function alerttest(){
            {% for index, item in app.session.get('Cart') %}
                if (document.getElementById('game{{ index }}').checked){giftgame({{ index }})}
            {% endfor %}
        }
        {% for index, item in app.session.get('Cart') %}
            document.getElementById('game{{ index }}').addEventListener('click', e=>{if (e.target.checked){giftgame({{ index }})} else {notgiftgame({{ index }})}})
        {% endfor %}
        function giftgame(target){
            document.getElementById(target+'gifted').innerHTML = 'Yes'
        }
        function notgiftgame(target){
            document.getElementById(target+'gifted').innerHTML = 'No'
        }
        function buygame(){
            window.location.href = '{{ path('app_buy') }}'
        }
        items = document.getElementsByClassName('giftbox')

        {% for index, item in app.session.get('Cart') %}
            document.getElementById('game{{ index }}').addEventListener('click', e=>{
                if (e.target.checked){
                    window.location.href = '{{ path('app_gift', {'index' : index}) }}'}
                else{
                    window.location.href = '{{ path('app_ungift', {'index' : index}) }}'}
                })
            document.getElementById('target{{ index }}').addEventListener('click', e=>{
                document.getElementById('target-users{{ index }}').style.display = 'block';
                document.getElementById('target{{ index }}').style.display = 'none'
            })
        {% endfor %}
        */



    </script>
{% endblock %}
