{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% set gamesArray = [] %}
<div class="container">
    {% for game in games %}
        {% if game.codePromos is not empty %}
            {% set gamesArray = gamesArray|merge([game]) %}
        {% endif %}
    {% endfor %}
    <div class="sale-zone">
        <div id="current-sale">
            <img id="sale-cover" class="coversale" width="100%" src="{{ asset('media/Sale/HESOYAM.png') }}">
        </div>
        <div class="sale-arrows">
            <div id="previous-arrow" class="slide-buttons">previous</div>
            <div id="next-arrow" class="slide-buttons">next</div>
        </div>
    </div>
    <div class="games-section">
        <div class="popular-games">
            <h1 class="rank-title">Popular</h1>
            {% for game in top5 %}
                <a href="{{ path('app_game_page',{'id' : game.id}) }}" class="ranking-label">{{ game.title }}</a>
            {% endfor %}
        </div>
        <div class="popular-games">
            <h1 class="rank-title">Best Rated</h1>
            {% for game in rated %}
                <a href="{{ path('app_game_page',{'id' : game.id}) }}" class="ranking-label">{{ game.title }}</a>
            {% endfor %}
        </div>
    </div>

</div>
    <script src="{{ asset('media/js/home.js') }}"></script>
    <script>
        {% for game in gamesArray %}
            images.push('{{ game.codePromos.values[0].code }}')
        {% endfor %}
    </script>

{% endblock %}
