
{% set commentLikeButton %}
    <a href="{{ path('app_like_comment',{'id' : comment.id}) }}">Like This Comment</a>
{% endset %}

    {% for like in comment.likes.values %}
        {% if like.user == app.user %}
            {% set commentLikeButton %}
                <a href="{{ path('app_unlike_comment',{'id' : like.id}) }}">Unlike This Comment</a>
            {% endset %}
        {% endif %}
    {% endfor %}

<div class="comment-table">
    <div class="comment-username">
        <h3 class="comment-username-tag">{{ comment.user.username }}</h3>
        <p>{{ comment.likes|length }} Like</p>
        {{ commentLikeButton }}
    </div>
    <div class="comment-avatar-box">
        <div class="comment-avatar">
            {% if comment.user.avatar is not null %}
                <img class="posAB rad-15" src="{{ asset('media/avatar/head/'~comment.user.avatar.head.name~'/'~comment.user.avatar.skin.color) }}">
                <img class="posAB" src="{{ asset('media/avatar/hair/'~comment.user.avatar.hair.name~'/'~comment.user.avatar.haircolor.color) }}">
                <img class="posAB" src="{{ asset('media/avatar/eyes/'~comment.user.avatar.eyes.name~'/'~comment.user.avatar.eyecolor.color) }}">
                <img class="posAB" src="{{ asset('media/avatar/mouth/'~comment.user.avatar.mouth.name~'/'~comment.user.avatar.skin.color) }}">
                <img class="posAB" src="{{ asset('media/avatar/nose/'~comment.user.avatar.nose.name~'/'~comment.user.avatar.skin.color) }}">
                <img class="posAB rad-15" src="{{ asset('media/avatar/cloth/'~comment.user.avatar.cloth.name~'/'~comment.user.avatar.clothstyle.color) }}">
            {% endif %}
        </div>
    </div>
    <div class="comment-content">
        <p class="comment-content-text">{{ comment.content }}</p>
    </div>
</div>