{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="page">
            <div class="title-zone">
                <h1 class="game-title">{{ game.name }}</h1>
            </div>
            <div class="cover-zone">
                <img class="cover-img" src="{{ game.cover }}">
            </div>
            <div class="detail-zone">
                <p class="game-text">Developper : {{ game.developper.name }}</p>
                <p class="game-text">Release Date : {{ game.date }}</p>
                <p class="game-text">{{ game.price }}€</p>
                <button class="cart-button">Add To Cart</button>
            </div>
            <div class="desc-zone">
                <h2 style="text-align: center">Description</h2>
                <p>{{ game.description }}</p>
            </div>

            <div class="image-zone">

                    <div class="current">
                        <img id="current" class="current-img" src="{{ game.images.0.source }}">
                    </div>

                    <div class="others">
                            {% for img in game.images.values %}
                                <img id="img{{ img.id }}" class="img-icon" src="{{ img.source }}">
                            {% endfor %}
                    </div>

            </div>
            <div class="review-zone">
                dqsdqsd
            </div>
        </div>
    </div>
    <script src="{{ asset('media/gamepage.js') }}"></script>
{% endblock %}
