{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{#    {{ dump(app.session.get('Filter')) }}#}
{#    {{ dump(app.session.get('test')) }}#}
{# {{ dump(filtered) }} #}
    <div class="container">
        <div class="search-bar">
            <div class="search-zone">
                <form action="{{ path('app_search') }}">
                    <input class="search-input" type="text" name="search">
                    <button class="search-btn" type="submit">Search</button>
                </form>
            </div>
            <div class="filter-zone">
                {% for category in categories %}
                    <div class="category-form">
                        <input id="category{{ category.name }}" type="checkbox" name="filter" value="{{ category.id }}" {% if category.id in app.session.get('Filter') %}  checked  {% endif %}>
                        <label class="category-label">{{ category.name }}</label>
                    </div>
                {% endfor %}
                <button class="reset-filter" id="reset">Reset Filter</button>
            </div>
        </div>
        {% for game in games %}
            <div class="card">
                <div class="card-highlight">
                    <a class="card-detail" href="{{ path('app_game_page',{'id' : game.id}) }}">Details</a>
                </div>
                <div><img class="card-cover" style="border-radius: 10px 10px 0 0;" width="100%" height="100%" src="{{ game.cover }}"></div>
                <div><p class="card-name">{{ game.name }}</p></div>
                {% if game.price == 0 %}
                    <div class="card-price"><p class="card-price-tag">free to play</p></div>
                {% else %}
                    <div class="card-price"><p class="card-price-tag">{{ game.price }}€</p></div>
                {% endif %}
            </div>
            {# <a href="{{ path('app_game_page',{'id' : game.id}) }}">Details</a> #}
        {% endfor %}
    </div>
    <script>
        {% for category in categories %}
            document.getElementById('category{{ category.name }}').addEventListener('click', e=>{
                if(e.target.checked){ window.location.href = '{{ path('app_filter_game',{'cat' : category.id}) }}' }
                else {
                    window.location.href = '{{ path('app_remove_filter', {'cat' : category.id}) }}'
                }
            })
        {% endfor %}
        document.getElementById('reset').addEventListener('click', e=> {window.location.href = '{{ path('app_clear_filter') }}'})
    </script>
{% endblock %}