{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="gamepage-T">
            <div class="Title-Zone-T white-text">
                <h1 class="TitleGame-T">{{ game.name }}</h1>
            </div>
            <div class="Cover-Zone-T">
                <img class="cover-img-T" src="{{ game.cover }}">
            </div>
            <div class="Info-Zone-T white-text">
                <div>
                <p class="game-text">Developper: {{ game.developpers.values[0].name }}</p>
                <p class="game-text">Release Date : {{ game.date }}</p>
                {% if game.discount is null %}
                    <h2 class="game-page-price-tag">Price : {{ game.price }}€</h2>
                {% else %}
                    <h2 class="game-page-price-tag">Price : {{ ((100 - game.discount) / 100 * game.price) | number_format(2) }}€</h2>
                    <h2 class="game-page-old-price-tag">{{ game.price }}€</h2>
                {% endif %}
                <div class="cart-button-div">
                    <a class="cart-button" href="{{ path('app_add_cart',{'id' : game.id}) }}">Add to Cart</a>
                </div>
                </div>
            </div>
            <div class="Desc-Zone-T white-text">
                <h2 style="text-align: center">Description</h2>
                <p>{{ game.description }}</p>
            </div>
            <div class="SS-Zone-T">
                <div class="current-img-zone-T">
                    <img id="current-image" class="current-img-T" src="{{ game.images[0].source }}">
                </div>
                <div class="other-image-T">
                    {% for image in game.images %}
                        <img class="img-icon-T" src="{{ image.source }}">
                    {% endfor %}
                </div>
            </div>
            <div class="Cat-Zone-T">
                {% for category in game.categories.values %}
                    <a href="{{ path('app_filter_button',{'cat' : category.id}) }}" class="category-btn">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="Rev-Zone-T">
                {% if avg is not null %}
                    <h2 style="text-align: center">Score : {{ avg }} / 10</h2>
                {% else %}
                    <h2 style="text-align: center">No Review</h2>
                {% endif %}
                <div class="review-section-T">
                    {% for review in game.reviews %}
                        {% include 'games/review-table.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('media/js/gamePage.js') }}"></script>

{% endblock %}