{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{#    {{ dump(app.session.get('Filter')) }}#}
{# {{ dump(filtered) }} #}
    <
    <div class="container">
        <div class="search-bar">
            <div class="search-zone">
                <form action="{{ path('app_search_game') }}">
                    <input class="search-input" type="text" name="search">
                    <button class="search-btn" type="submit">Search</button>
                </form>
            </div>
            <div class="filter-zone">
                {% for category in categories %}
                    <div class="category-form">
                        <input id="category{{ category.id }}" type="checkbox" name="filter" value="{{ category.id }}" {% if category.id in app.session.get('Filter') %}  checked  {% endif %}>
                        <label class="category-label">{{ category.name }}</label>
                    </div>
                {% endfor %}
                <button class="reset-filter" id="reset">Reset Filter</button>
            </div>
        </div>
        <div class="games-zone">
            {% for game in games %}
                {{ include('games/game_card.html.twig') }}
            {% endfor %}
        </div>
    </div>
    <script>
        {% for category in categories %}
            document.getElementById('category{{ category.id }}').addEventListener('click', e=>{
                if(e.target.checked){ window.location.href = '{{ path('app_filter_game',{'cat' : category.id}) }}' }
                else {
                    window.location.href = '{{ path('app_remove_filter', {'cat' : category.id}) }}'
                }
            })
        {% endfor %}
        document.getElementById('reset').addEventListener('click', e=> {window.location.href = '{{ path('app_clear_filter') }}'})
    </script>
{% endblock %}